.cards-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__about{
  min-height: 440px;

  @media (max-width: 768px){
    max-width: 31%;
    padding: 14px;
  }
  
  .number{
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    color: $primary;
  }
}

.card__about__content{
  width: 85%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 768px){
     width: 100%;
  }

  .img{
    display: inline-block;
    margin-bottom: 24px;
  }

  label{
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    color: $primary;
    margin-bottom: 1em;
  }
  
  p{
    color: lighten(#000000, 50%);
    margin-bottom: 0;
  }
}