body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

input,textarea,button,select{
    font-family: 'Quicksand', sans-serif!important;

    &:focus{
      outline: none;
    }
}

button{
  cursor: pointer;
}

input,textarea{
  &:focus{
    background: rgba(0,0,0,0.05);
  }
}

.container{
  @media (min-width:1400px){
    max-width: 1400px;
  }
}

.content--block{
  position: relative;
  z-index: 100;
  padding: 100px 0;
}

.content--block__title{
  font-weight: bold;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $primary;
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 70px;
}

.card{
  max-width: 354px;
  padding: 25px;
  border-radius: 8px;
	background-color: white;
  box-shadow: 0 2px 30px 0 rgba(3, 143, 227, 0.1);
  border: none;
}

.btn{
  height: 46px;
  font-size: 13px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: 0.75px;
  border-radius: 30px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:active{
    transform: scale(0.9);
    transition: all 0.1s ease-in-out;
  }
}

.btn__ghost{
  background: transparent;
}

.btn__ghost--white{
  color: white;
  border: 2px solid white;
}

.btn__ghost--primary{
  color: $primary;
  border: 2px solid $primary;
}