.hero-section{
  height: 100vh;
  width: 100%;
  background: linear-gradient(
      transparentize($primary, 0.1), 
      transparentize($primary, 0.1)
    ),  url('../img/hero-img-collage.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  text-align: center;

  .down-arrow{
    display: inline-block;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    justify-self: flex-end;
    text-align: center;

    &:before{
      content: '';
      display: inline-block;
      height: 18px;
      width: 2px;
      background: #fff;
    }

    &:after{
      content: '';
      display: block;
      height: 0;
      width: 0;
      border-width: 6px 6px 0 6px;
      border-color: #fff transparent transparent transparent;
      border-style: solid;
      margin-top: -8px;
    }
  }
}

.hero-logo{
  margin-bottom: 70px;
}

.tagline{
  font-size: 34px;
  font-weight: 300;
  margin-bottom: 10px;
}

.hero-text{
  color: white;
  text-align: center;

  p{
    display: inline-block;
    max-width: 500px;
  }
}
