.partners{
  .btn__ghost__join{
    box-shadow: 0 0 0 0 transparentize(#0067a5, 0.4);
    transition: all 0s ease-in-out;

    &:hover{ 
      color: $primary;
      box-shadow: 0 0 75px 10px transparentize(#0067a5, 1);
      transition: all 0.3s ease-in-out;
    }
  }
}
.partner-gallery{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.wrapper__img--partner{
  position: relative;
  width: 33.33%;
  overflow: hidden;
  max-height: 330px;
  overflow: hidden;

  img{
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
  }
}

.partners-info{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75em 1.5em;
  color: #fff;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  background-position: 0 150px;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;

  .wrapper__img--partner:hover &{
    background-position: 0 0;
  }
}

.partners-name{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.75px;
  margin-bottom: 0;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-in-out;

  .wrapper__img--partner:hover &{
    transform: translateY(0);
    opacity: 1
  }
}

.partners-org{
  font-size: 16px;
  margin-bottom: 0;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s 0.05s ease-in-out;

  .wrapper__img--partner:hover &{
    transform: translateY(0);
    opacity: 1
  }
}
